<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Requests Table</title>
        <style>
            table, th, td {
                border: 1px solid black;
            }
            </style>
    </head>
    <body>

        <h1>Requests Table</h1>
        <table>
            <tr>
                <th>Request Type</th>
                <th>Request Count</th>
            </tr>
            <tr>
                <td>GET</td>
                <td>{{ get if get else 0}}</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>{{ post if post else 0}}</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>{{ put if put else 0}}</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>{{ delete if delete else 0}}</td>
            </tr>
        </table>
        <br>
        <a href="/">Back to main page</a>
    </body>
</html>
